.wrapper {
  &.error {
    max-width: 192px;

    span {
      display: block;
      color: #cc0000;
      font-size: 14px;
    }

    label {
      color: #cc0000;
    }

    input {
      border-color: #cc0000;
    }
  }
}

label {
  display: block;
  font-size: 16px;
}

.element {
  display: flex;
  align-items: center;
  position: relative;

  i {
    position: absolute;
    left: 10px;
    cursor: pointer;
  }

  input {
    width: 100%;
    padding: 0px 10px;
    height: 32px;
    border: 1px solid #ADBBDA;
    border-radius: 6px;
    font-size: 14px;

    &.padding-left-40 {
      padding-left: 40px;
    }
  }
}
